a {
    color: $brand-color;
    transition: .5s;
}
a:hover {
    color: $text-color;
}

a.navlink { color: $text-color; } // reverse
a.navlink:hover { color: $brand-color; }
.navbox {
    transition: .8s;
    max-height: 0;
}
.navbox:hover {
    max-height: 500px;
}
.navbox a {
    transition: .8s;
}
.menu_line {
    transition: .8s;
}
.menu_box:hover {
    > div {
        border-color: $brand-color;
    }
}

.arrow {
    transition: .5s;
}
#c2:hover + #upArrow {
    color: $text-color;
}

.default_button {
    transition: .5s;
}
.default_button:hover {
    border-color: $brand-color;
}

.social_media_icon {
    transition: .5s;
}
.social_media_icon:hover {
    border-color: $brand-color;
}

.share_button {
    transition: .5s;
}
// original brandcolors found on the web
#sb_reddit:hover { border-color: #ff4500; }
#sb_linkedin:hover { border-color: #0072b1; }
#sb_facebook:hover { border-color: #4267b2; }
#sb_twitter:hover { border-color: #00acee; }
#sb_gmail:hover { border-color: #d44638; }
#sb_whatsapp:hover { border-color: #4fce5d; }
