.reading_area {
    background: #1a1a1e;
    margin-top: 1px;
    padding: 75px 0;
    letter-spacing: 1px;
    line-height: 1.6;
    font-size: 1.1em;
    pre {
        letter-spacing: 0;
        background: #101010;
        margin: 75px 0;
    }
    h1 {
        margin: 0 0 50px 0;
    }
    hr {
        background: $second-color;
        border: 1px solid darken($second-color, 25%);
        margin-bottom: 75px;
    }
    img {
        margin: 75px auto;
        display: block;
    }
}

.post_date,
.post_tags {
    text-align: right;
    font-size: .9em;
}

.post_tags {
    // font-family: $code-font;
    color: $second-color;
}

.share_phrase {
    padding: $margin-gaps;
    text-align: center;
    font-size: 1.2em;
    color: $second-color;
}

.share_button {
    padding: 7px;
    border: 3px solid $grey-color;
    border-radius: 50%;
    background: $soft-black;
    margin: 0 7px;
}

.a2a_kit {
    padding-bottom: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
}

.a2a_button_twitter,
.a2a_button_whatsapp,
.a2a_button_google_gmail,
.a2a_button_linkedin,
.a2a_button_reddit,
.a2a_button_facebook {
    border-radius: 50%;
}

#turkish {
    margin-top: 125px;
}

// on blog main

.post_rep {
    display: block;
    margin: $margin-gaps-double;
    p {
        margin-bottom: 0;
    }
    .post_title {
        font-family: $main-font;
        font-size: 1.2em;
        transition: none;
    }
    .read {
        visibility: hidden;
        transition: .3s;
        font-size: 0.8em;
        color: $grey-color;
    }
    .excerpt {
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
        border-left: 3px solid darken($brand-color, 35%);
        transition: .3s;
        margin: 5px 10px 5px 0;
    }
    blockquote {
        background: inherit;
        border: none;
        color: lighten($grey-color, 35%);
        margin: 5px 2vh 5px 0;
        padding: 0 1vh;
    }
    .post_date {
        color: lighten($grey-color, 20%);
        font-size: 0.9em;
    }
}
.post_rep:hover {
    .read {
        visibility: visible;
        color: #ff7733;
    }
    .excerpt {
        border-left: 10px solid darken($brand-color, 35%);
        margin-right: 0;
    }
}
br.phone_breakline {
    display: none;
    @media only screen and (max-width: 800px) {
        display: block;
    }
}
