
.default_button {
    background: darken($background-color, 5%);
    border: 3px solid $grey-color;
    border-radius: 7px;
    padding: 7px 10px;
    color: $brand-color;
    font-family: source_sans_pro, Open Sans;
    font-size: 1em;
    display: block;
    margin: $centered;
    cursor: pointer;
}

.ontop {
    margin: 0 5px 75px 5px;
}

.blackborder {
    border-color: #0a0a0a;
}

.github_link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: $margin-gaps;
}
.github_link img {
    height: 42px;
}
.skills {
    text-align: center;
    padding-bottom: 25px;
    color: $brand-color;
    cursor: pointer;
    > a {
        padding-bottom: 5px;
        margin: 0 10px;
        border: none;
    }
}
.skills:last-child {
    padding-bottom: 45px;
}
.skills[active="true"] {
    > a {
        border-bottom: 3px solid $second-color;
    }
}
.tools {
    font-size: .9em;
    font-family: $code-font;
    color: $second-color;
}

.projects {
    display: block;
    // border: 1px solid red;
    margin: $margin-gaps;
}
.horizontal {
    display: flex;
    justify-content: center;
}
.flexbox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    @media only screen and (max-width: 925px) {
        display: block;
    }
}

.title_image,
.contact_image,
.about_image,
.software_image {
    display: block;
    margin: 0 auto 75px auto;
}

.title_image {
  height: 100px;
}
.contact_image {
  height: 175px;
}
.about_image {
  max-height: 20rem;
  border-radius: 50%;
}
.software_image {
  height: 150px;
}
.blog_image {
  height: 115px;
  display: block;
  margin: 20px auto 75px auto;
}

@media only screen and (max-width: 925px) {
  .contact_image {
    height: 125px;
  }
  .about_image {
    height: 200px;
  }

}


.contact_mail {
    text-align: center;
}
.contact_mail::after {
    content: "demircicaglayan13@gmail.com";
    font-size: 1.2em;
}
.social_media_bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $margin-gaps;
}
.social_media_icon {
    height: 64px;
    margin: 0 5px;
    border: 3px solid $grey-color;
    border-radius: 50%;
}
.mail_address {
    text-align: center;
    color: lighten($grey-color, 42%);
    font-size: 1.4em;
    padding-bottom: 25px;
}

.spotify_frame {
    width: 100%;
    background: black;
    opacity: .75;
    font-size: 1.1em;
    background: none;
}

.button-image {
    max-height: 25px;
    display: block;
    @media only screen and (max-width: 925px) {
        display: block;
        margin: auto;
    }
}

.image-description {
    margin-top: -40px;
    margin-bottom: 50px;
    font-size: .9em;
    color: #999;
    text-align: center;
}
