// ================================ HEADER WITHOUT PANEL
// ================= HEADER IMAGES
.home_header    { background-image: url('/assets/images/homeheader.jpg'); 
                  background-position: center;}
.default_header { background-image: url('/assets/images/637158.png'); 
                  }
.blog_header    { background-image: url('/assets/images/blogmain_bg.jpg'); 
                  background-position: right;}
.gallery_header { background-image: url('/assets/images/gallerywp.jpg'); 
                  background-position: right;}

.home_header,
.blog_header,
.gallery_header {
    background-repeat: no-repeat;
    background-size: cover;
}

.home_header,
.blog_header {
    height: 85vh;
}
.gallery_header {
    height: 85vh;
}
.default_header {
    height: 50vh;
}

@media only screen and (max-width: 925px) {
    .home_header,
    .blog_header,
    .gallery_header {
        height: 50vh;
    }
    .default_header {
        height: 32vh;
    }
}

// ================= END
.name_sentence {
    color: lighten($grey-color, 25%);
    font-size: 42px;
    right: 42px;
    letter-spacing: normal;
    position: absolute;
    text-align: right;
    >span.name {
        color: $text-color;
    }
    @media only screen and (max-width: 1250px) {
        font-size: 24px;
        right: 15px;
        left: auto;
        
    }
}

#page_def {
    color: #999;
}

#nameOnPhonePanel {
    display: none;
}

// ================================ END
.content_wrapper {
    width: 100%;
    padding: 150px 0;
}

.blog_wrapper {
    background: $reading-background;
}

.content_container {
    max-width: $content-inner-width;
    margin: auto;
    padding: calc(2 * #{$padding-gap});
}

// ================================ PANEL
.panel_container {
    background: $panel-color;
    -webkit-box-shadow: 0px 2px 2px 1px rgba(42, 42, 42, 0.75);
    -moz-box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 2px 1px rgba(42, 42, 42, 0.75);
    position: relative;
    z-index: 7;
}

.panel {
    max-width: $panel-inner-width;
    margin: auto;
    padding: $padding-gap;
    > div {
        width: 33%;
        > div {
            width: 50;
        }
        > p {
            color: $text-color;
            margin: 0;
            padding: 0;
        }
    }
}

.panel,
.cell {
    display: flex;
}

#c1 {
    cursor: pointer;
    position: relative;
}

#c1_pad {
    color: $panel-color;
}

#c2 {
    font-family: source_code_pro, $code-font, monospace;
    font-size: .8em;
    color: $second-color;
    text-align: center;
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.tooltip_returnTop {
    visibility: hidden;
    width: 100px;
    font-size: .9em;
    background-color: $background-color;
    color: $text-color;
    text-align: center;
    border: 1px solid $grey-color;
    border-radius: 5px;
    padding: 5px 0;
    position: absolute;
    z-index: 1000;
    top: 90%;
    left: 50%;
    margin-left: -60px;
}
.tooltip_returnTop::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -9px;
    border-width: 9px;
    border-style: solid;
    border-color: transparent transparent $grey-color transparent;
}

#c2:hover + .tooltip_returnTop {
    visibility: visible;   
}

#c3 {
    display: block;
    text-align: right;
    position: relative;
}

// ============ PANEL phone screen
.menu_box {
    display: none;
    height: 24px;
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    >.menu_line {
        width: 28px;
        height: 3px;
        background: #ccc;
        margin-bottom: 7px;
        float: right;
    }
    > :last-child {
        margin-bottom: 0;
    }
}

.navbox {
    background: #060606;
    position: absolute;
    width: 100%;
    top: 45px;
    right: 0;
    left: 0;
    opacity: .8;
    a {
        display: none;
    }
}

.navlink {
    cursor: pointer;
}

.located::before {
    content: "";
    position: absolute;
    margin-top: 19px;
    margin-left: var(--marker-marginleft);
    border-width: 7px;
    border-style: solid;
    border-color: transparent transparent $second-color transparent;
}

.navlink_div {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    img {
        height: 35px;
        width: 35px;
        padding-left: 15px;
    }
}

.navlink_div:hover {
    background: darken($brand-color, 50%);
}

@media only screen and (max-width: 1000px) {
    body {
        font-size: 1em;
    }
}

@media only screen and (max-width: 925px) {
    .menu_box {
        display: block;
    }
    .navbarlink {
        display: none;
    }
    .navboxlink {
        display: block;
    }
    #nameOnPanel {
        display: none;
    }
    #nameOnPhonePanel {
        display: inline-block;
    }
    #c1 {
        >p {
            position: absolute;
        }
    }
}

// ============ END
// ============ FOOTER
.footer_container {
    background: #0a0a0a;
    padding: 0 10px;
    border-top: 3px solid $grey-color;
    display: block;
}

.footer_content {
    max-width: $panel-inner-width;
    margin: auto;
    padding: $padding-gap;
    display: flex;
    justify-content: space-between;
    color: #667;
    .social_media_bar {
        justify-content: flex-end;
        .social_media_icon {
            border: 2px solid #667;
            height: 32px;
        }
        .social_media_icon:hover {
            border: 2px solid $brand-color;
        }
    }
    .footer_text {
        padding: 10px 0;
        font-size: .9em;
        text-align: right;
        img {
            height: 50px;
            width: 50px;
            user-select: none;
        }
        a,
        a:visited {
            color: lighten($soft-black, 66%);
        }
        a:hover,
        a:visited:hover {
            color: lighten($soft-black, 90%);
        }
    }
    div.signature {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}

// ============ END
// ================================ END
