body {
	background-color: rgb(15,15,15);
}
p {
	font-family: verdana;
	color: white;
	font-size: 13px;
	line-height:166%;
}
.mainZone {
	display: block;
	width: 700px;
	border: 1px solid #990000;
	padding: 20px 20px 20px 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;	
}
.header {
	height: 140px;
	width: 700px;
	border: 1px solid rgb(66,66,66);
	padding-left: 20px;
	padding-right: 20px; 
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;	
}
.headerLinksZone {
	height: 30px;
	text-align: right;
}
.headerLink {
	
	font-size: 13px;
	font-family: HLink;
	color: white;
	text-decoration: none;
} @font-face {
	font-family: HLink;
	src: url(fonts/OpenSans-CondBold.ttf);
}
a.headerLink:link {
	color: white; 
	text-decoration: none;
}
a.headerLink:hover {
	color: white; 
	text-decoration: underline;
}
a.headerLink:active {
	color: red; 
	text-decoration: none;
}
a.headerLink:visited {
	color: white; 
	text-decoration: none;
}
.mailText {
	background-color: black;
	border: none;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	height: 200px;
	color: red;
	font-family: verdana; 
	padding: 5px 5px 5px 5px;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	p {
		font-size: 26px;
	}
}
