body {
	background-color: rgb(30,30,30);
}
p {
	font-family: verdana;
	color: rgb(230,230,230);
	font-size: 0.8em;
	line-height:166%;
}
.mainZone {
	display: block;
	width: 700px;
	/* border: 1px solid #990000; */
	padding: 20px 20px 20px 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	background-color: rgb(50,50,50);
}
.header {
	height: 100px;
	width: 720px;
	padding-left: 20px; 
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	border-bottom-color: rgb(50,50,50);
	border-bottom-style: solid;
	border-left-color: rgb(50,50,50);
	border-left-style: solid;
}
.headerLinksZone {
	height: 30px;
	text-align: right;
}
.headerLink {
	font-size: 14px;
	font-family: HLink;
	color: white;
	text-decoration: none;
} @font-face {
	font-family: HLink;
	src: url(fonts/OpenSans-CondBold.ttf);
}
a.headerLink:link {
	color: white; 
	text-decoration: none;
}
a.headerLink:hover {
	color: white; 
	text-decoration: underline;
}
a.headerLink:active {
	color: red; 
	text-decoration: none;
}
a.headerLink:visited {
	color: white; 
	text-decoration: none;
}
a {
	color: rgb(0,255,0);
	text-decoration: none;
}
.mailText {
	background-color: black;
	border: none;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	height: 200px;
	color: red;
	font-family: verdana; 
	padding: 5px 5px 5px 5px;
	font-size: 13px;
}
.footer {
	/* position: absolute; */ 
	right: 0;
	bottom: 0;
	left: 0;
	padding-top: 20px;
	background-color: black;
	margin-top: 20px;
	margin-left: -8px;
	margin-right: -8px;
	margin-bottom: -8px;
	height: 205px;
}
.footerLinksZone {
	width: 740px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
}
.footerLink {
	color: rgb(100,50,50);
	font-size: 12px;
	font-family: verdana;
}
a.footerLink:hover {
	color: rgb(170,100,100); 
}
.footerColumn {
	float:left; 
	margin-right:100px; 
}
pre {
	white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
	font-size: 15px;
}
ul {
	color: white;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) { /* for phone screens */
	.footer,
	.footerLinksZone,
	.header,
	.headerLinksZone,
	.mainZone {
		width: 95%;
		margin-left: 0px;
		margin-right: 0px;
	}
	p,
	.footerLink {
		font-size: 1em;
	}
	.headerLink {
		font-size: 0.85em;
	} 
	.mainZone,
	.footer,
	body {
		background-color: rgb(15,15,15);
	}
	.footer {
		margin-bottom: 0px;
	}
}
