body {
	background-color: rgb(20,20,20);

}
.container-lg {
	margin-top: 20px;
	background-color: rgba(40,40,42,0.95);
	border: 8px solid black;
}
.markdown-body h1 {
	font-size: 0px;
	border-bottom: 0px;
}
.markdown-body .highlight pre, .markdown-body pre {
    background-color: #1d1f21;
}
.highlight .o { 
	font-weight: normal;
	color: rgb(200,200,200);
}
p {
	color: rgb(230,230,230);
}
p2 { /* date of text written, top-right of the page */
	font-size: 0.8em;
	float: right;
}
a {
	color: lime;
}
code {
	border: 1px solid grey;
}
h2, h3, h4 {
	color: #91ee91;
}
ol, ul {
	color: white;
}
