.container {
	
	margin-left: auto;
	margin-right: auto;
	width: 900px;
}
body {
  background-color: rgb(22,24,26);
}

.header {
	/* border: 1px solid red;  */
	height: 100px;
	width: 1080px;
	/* margin-left: 300px; */
	/* margin-right: auto; */
	/* margin-right: auto; */
	/* padding: 0px 200px 0px 200px; */
}
.plane {
	 /* border: 1px solid yellow;  */
	height: 95px;
	width: 600px;
	float: right;
	/* background-color: red; */
}
h1 {
  color: rgb(111,111,111);
}
h4 {
  color: #666999;
  text-align: right;
}
h3 {
  color: white;
}
p {
  color: rgb(200,200,200);
  font-size: 15px;
}
p2 { 
	font-family: PageLink;
	font-size: 16px;
	font-weight: normal;
	color: white;
} @font-face {
		font-family: PageLink;
		src: url(fonts/OpenSans-CondBold.ttf);
	}
p3 { 
	font-family: Lucon;
	font-size: 13px;
	font-weight: normal;
	color: lime;
} @font-face {
		font-family: Lucon;
		src: url(fonts/lucon.ttf);
	}	
hr1 { /* a red cursor  o.O */
   color: red;
   border: 1px solid red;
   background-color: red;
}
.footer {
	height: 77px;
	background-color: black;
	font-family: verdana;
	font-size: 12px;
	color: rgb(100,100,100);
	padding: 10px 10px;
}
code {
	/* font-size: 13px;  */
	/* font-family: Courier New; */
	background-color: black;
	padding: 2px 2px 2px 2px;
	/*border: 1px solid rgb(42,42,84);*/
} 

.currentLink {
	color: GhostWhite;
}
a {
	color: lime;
}
.markdown-body .highlight pre, .markdown-body pre {
    background-color: black;
}
.menu {
	float: right;
	text-align: right;
	width: 560px;
	/* border: 1px solid green; */
	height: 20px;
	
}
.menuLink {
	color: white;
	text-decoration: none;
	background-color: black;
	padding: 3px 3px 3px 3px;
	font-size: 13px;
	font-family: PageLink;
}
a.menuLink:link {
	color: white; 
	text-decoration: none;
}
a.menuLink:hover {
	color: rgb(240,240,240); 
	text-decoration: underline;
}
a.menuLink:active {
	color: red; 
	text-decoration: none;
}
a.menuLink:visited {
	color: white; 
	text-decoration: none;
}
