body {
  background-color: rgb(20,20,20);
}
h1 {
  color: rgb(111,111,111);
}
h2 {
  color: rgb(190,190,222);
  text-align: right;
}
h3 {
  color: white;
}
p {
  color: rgb(222,222,222);
  font-size: 16px;
}
p2 { 
  color: rgb(166,166,166);
  text-align: right;
}
p3 { /* hello world */
	font-family: Lucon;
	font-size: 14px;
	color: lime;
} @font-face {
		font-family: Lucon;
		src: url(fonts/lucon.ttf);
}
hr1 { /* a red cursor  o.O */
   color: red;
   border: 1px solid red;
   background-color: red;
}
.footer {
	height: 77px;
	background-color: black;
	font-family: verdana;
	font-size: 12px;
	color: rgb(100,100,100);
	padding: 10px 10px;
}
code {
	font-size: 13px;
	font-family: code;
} @font-face {
		font-family: code;
		src: url(Monospace.ttf);
}
