.container {
	background-color: rgb(102,105,123);
	padding : 10px 10px 10px 10px; 
	margin-top: 20px;
}
body {
  background-color: rgb(10,10,10);
}
h1 {
  color: rgb(111,111,111);
}
h4 {
  color: #999666;
  text-align: right;
}
h3 {
  color: white;
}
p {
  color: white;
  font-size: 15px;
}
p2 { 
  color: rgb(166,166,166);
  text-align: right;
}
p3 { /* hello world */
	font-family: Lucon;
	font-size: 14px;
	color: lime;
} @font-face {
		font-family: Lucon;
		src: url(fonts/lucon.ttf);
}
hr1 { /* a red cursor  o.O */
   color: red;
   border: 1px solid red;
   background-color: red;
}
.footer {
	height: 77px;
	background-color: black;
	font-family: verdana;
	font-size: 12px;
	color: rgb(100,100,100);
	padding: 10px 10px;
}
code {
	font-size: 13px;
	font-family: Courier New;
	background-color: rgb(105,105,122);
	padding: 2px 2px 2px 2px;
	border: 1px solid rgb(42,42,84);
} 

.currentLink {
	color: GhostWhite;
}
a {
	color: #330066;
}
