@font-face { font-family: source_sans_pro; src: url(fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf); }

@font-face { font-family: source_code_pro; src: url(fonts/Source_Code_Pro/SourceCodePro-Regular.ttf); }

html { scroll-behavior: smooth; }

body { margin: 0; background: #272727; color: #f2f2f2; font-family: source_sans_pro, Open Sans, sans-serif; font-size: 1.1em; letter-spacing: 0.5px; line-height: 1.5; }

a, a:hover, a:visited, a:visited:hover { text-decoration: none; }

h1, h2, h3, h4, h5, h6 { font-family: "Roboto Mono", source_code_pro, Consolas, monaco, monospace; }

h1 { font-size: 2.2em; font-family: "Roboto Mono", source_code_pro, Consolas, monaco, monospace; text-align: center; }

h2 { font-size: 1.6em; }

h2::before { content: "_ "; font-size: 15px; color: #3bc47f; }

h3 { font-size: 1.3em; }

h3::before { content: "__ "; font-size: 15px; color: #3bc47f; }

h4 { font-size: 1.2em; }

h4::before { content: "___ "; font-size: 15px; color: #3bc47f; }

blockquote { padding: 10px 10px 10px 25px; margin: 35px 0; background: #1a1a1a; border-left: 3px solid #1e6240; }

img { max-width: 100%; }

ul, ol { padding-left: inherit; }

ul li, ol li { padding: 10px; }

.home_header { background-image: url("/assets/images/homeheader.jpg"); background-position: center; }

.default_header { background-image: url("/assets/images/637158.jpg"); background-position: center; }

.blog_header { background-image: url("/assets/images/blogmain_bg.jpg"); background-position: center; }

.gallery_header { background-image: url("/assets/images/gallerywp.jpg"); background-position: right; }

.home_header, .blog_header, .gallery_header { background-repeat: no-repeat; background-size: cover; }

.home_header, .blog_header { height: 85vh; }

.gallery_header { height: 85vh; }

.default_header { height: 35vh; }

@media only screen and (max-width: 925px) { .home_header, .blog_header, .gallery_header { height: 50vh; } .default_header { height: 32vh; } }

.name_sentence { color: #a6a6a6; font-size: 42px; right: 42px; letter-spacing: normal; position: absolute; text-align: right; }

.name_sentence > span.name { color: #f2f2f2; }

@media only screen and (max-width: 1250px) { .name_sentence { font-size: 24px; right: 15px; left: auto; } }

#page_def { color: #999; }

#nameOnPhonePanel { display: none; }

.content_wrapper { width: 100%; padding: 150px 0; }

.blog_wrapper { background: #1a1f26; }

.content_container { max-width: 800px; margin: auto; padding: calc(2 * 10px); }

.panel_container { background: #1a1a1a; -webkit-box-shadow: 0px 2px 2px 1px rgba(42, 42, 42, 0.75); -moz-box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.75); box-shadow: 0px 2px 2px 1px rgba(42, 42, 42, 0.75); position: relative; z-index: 7; }

.panel { max-width: 1600px; margin: auto; padding: 10px; }

.panel > div { width: 33%; }

.panel > div > div { width: 50; }

.panel > div > p { color: #f2f2f2; margin: 0; padding: 0; }

.panel, .cell { display: flex; }

#c1 { cursor: pointer; position: relative; }

#c1_pad { color: #1a1a1a; }

#c2 { font-family: source_code_pro, "Roboto Mono", source_code_pro, Consolas, monaco, monospace, monospace; font-size: .8em; color: #3bc47f; text-align: center; position: relative; display: inline-block; cursor: pointer; }

.tooltip_returnTop { visibility: hidden; width: 100px; font-size: .9em; background-color: #272727; color: #f2f2f2; text-align: center; border: 1px solid #666; border-radius: 5px; padding: 5px 0; position: absolute; z-index: 1000; top: 90%; left: 50%; margin-left: -60px; }

.tooltip_returnTop::after { content: ""; position: absolute; bottom: 100%; left: 50%; margin-left: -9px; border-width: 9px; border-style: solid; border-color: transparent transparent #666 transparent; }

#c2:hover + .tooltip_returnTop { visibility: visible; }

#c3 { display: block; text-align: right; position: relative; }

.menu_box { display: none; height: 24px; text-align: right; position: absolute; top: 0; right: 0; cursor: pointer; }

.menu_box > .menu_line { width: 28px; height: 3px; background: #ccc; margin-bottom: 7px; float: right; }

.menu_box > :last-child { margin-bottom: 0; }

.navbox { background: #060606; position: absolute; width: 100%; top: 45px; right: 0; left: 0; opacity: .8; }

.navbox a { display: none; }

.navlink { cursor: pointer; }

.located::before { content: ""; position: absolute; margin-top: 19px; margin-left: var(--marker-marginleft); border-width: 7px; border-style: solid; border-color: transparent transparent #3bc47f transparent; }

.navlink_div { padding: 10px; display: flex; justify-content: flex-end; align-items: center; }

.navlink_div img { height: 35px; width: 35px; padding-left: 15px; }

.navlink_div:hover { background: black; }

@media only screen and (max-width: 1000px) { body { font-size: 1em; } }

@media only screen and (max-width: 925px) { .menu_box { display: block; } .navbarlink { display: none; } .navboxlink { display: block; } #nameOnPanel { display: none; } #nameOnPhonePanel { display: inline-block; } #c1 > p { position: absolute; } }

.footer_container { background: #0a0a0a; padding: 0 10px; border-top: 3px solid #666; display: block; }

.footer_content { max-width: 1600px; margin: auto; padding: 10px; display: flex; justify-content: space-between; color: #667; }

.footer_content .social_media_bar { justify-content: flex-end; }

.footer_content .social_media_bar .social_media_icon { border: 2px solid #667; height: 32px; }

.footer_content .social_media_bar .social_media_icon:hover { border: 2px solid #00e6e6; }

.footer_content .footer_text { padding: 10px 0; font-size: .9em; text-align: right; }

.footer_content .footer_text img { height: 50px; width: 50px; user-select: none; }

.footer_content .footer_text a, .footer_content .footer_text a:visited { color: #c2c2c2; }

.footer_content .footer_text a:hover, .footer_content .footer_text a:visited:hover { color: white; }

.footer_content div.signature { display: flex; justify-content: flex-end; align-items: center; }

.default_button { background: #1a1a1a; border: 3px solid #666; border-radius: 7px; padding: 7px 10px; color: #00e6e6; font-family: source_sans_pro, Open Sans; font-size: 1em; display: block; margin: 35px auto; cursor: pointer; }

.ontop { margin: 0 5px 75px 5px; }

.blackborder { border-color: #0a0a0a; }

.github_link { display: flex; justify-content: flex-end; align-items: center; margin: 35px 0; }

.github_link img { height: 42px; }

.skills { text-align: center; padding-bottom: 25px; color: #00e6e6; cursor: pointer; }

.skills > a { padding-bottom: 5px; margin: 0 10px; border: none; }

.skills:last-child { padding-bottom: 45px; }

.skills[active="true"] > a { border-bottom: 3px solid #3bc47f; }

.tools { font-size: .9em; font-family: "Roboto Mono", source_code_pro, Consolas, monaco, monospace; color: #3bc47f; }

.projects { display: block; margin: 35px 0; }

.horizontal { display: flex; justify-content: center; }

.flexbox { display: flex; justify-content: space-around; align-items: center; }

@media only screen and (max-width: 925px) { .flexbox { display: block; } }

.title_image, .contact_image, .about_image, .software_image { display: block; margin: 0 auto 75px auto; }

.title_image { height: 100px; }

.contact_image { height: 175px; }

.about_image { height: 300px; }

.software_image { height: 150px; }

.blog_image { height: 115px; display: block; margin: 20px auto 75px auto; }

@media only screen and (max-width: 925px) { .contact_image { height: 125px; } .about_image { height: 200px; } }

.contact_mail { text-align: center; }

.contact_mail::after { content: "demircicaglayan13@gmail.com"; font-size: 1.2em; }

.social_media_bar { display: flex; justify-content: center; align-items: center; padding: 35px 0; }

.social_media_icon { height: 64px; margin: 0 5px; border: 3px solid #666; border-radius: 50%; }

.mail_address { text-align: center; color: #d1d1d1; font-size: 1.4em; padding-bottom: 25px; }

.spotify_frame { width: 100%; background: black; opacity: .75; font-size: 1.1em; background: none; }

.button-image { max-height: 25px; display: block; }

@media only screen and (max-width: 925px) { .button-image { display: block; margin: auto; } }

.image-description { margin-top: -40px; margin-bottom: 50px; font-size: .9em; color: #999; text-align: center; }

.home_header, .blog_header, .default_header { animation: headersFadeIn 1s; }

@keyframes headersFadeIn { from { opacity: 0; }
  to { opacity: 1; } }

a { color: #00e6e6; transition: .5s; }

a:hover { color: #f2f2f2; }

a.navlink { color: #f2f2f2; }

a.navlink:hover { color: #00e6e6; }

.navbox { transition: .8s; max-height: 0; }

.navbox a { transition: .8s; }

.menu_line { transition: .8s; }

.arrow { transition: .5s; }

#c2:hover + #upArrow { color: #f2f2f2; }

.default_button { transition: .5s; }

.default_button:hover { border-color: #00e6e6; }

.social_media_icon { transition: .5s; }

.social_media_icon:hover { border-color: #00e6e6; }

.share_button { transition: .5s; }

#sb_reddit:hover { border-color: #ff4500; }

#sb_linkedin:hover { border-color: #0072b1; }

#sb_facebook:hover { border-color: #4267b2; }

#sb_twitter:hover { border-color: #00acee; }

#sb_gmail:hover { border-color: #d44638; }

#sb_whatsapp:hover { border-color: #4fce5d; }

@keyframes postsFadeIn { from { opacity: 0; }
  to { opacity: 1; } }

#softwarePosts, #EMPosts { animation-name: postsFadeIn; animation-duration: .5s; }

.reading_area { background: #1a1a1a; margin-top: 1px; padding: 75px 0; letter-spacing: 1px; line-height: 1.6; font-size: 1.1em; }

.reading_area pre { letter-spacing: 0; background: #101010; margin: 75px 0; }

.reading_area h1 { margin: 0 0 50px 0; }

.reading_area hr { background: #3bc47f; border: 1px solid #1e6240; margin-bottom: 75px; }

.reading_area img { margin: 75px auto; display: block; }

.post_date, .post_tags { text-align: right; font-size: .9em; }

.post_tags { color: #3bc47f; }

.share_phrase { padding: 35px 0; text-align: center; font-size: 1.2em; color: #3bc47f; }

.share_button { padding: 7px; border: 3px solid #666; border-radius: 50%; background: #1a1a1a; margin: 0 7px; }

.a2a_kit { padding-bottom: 35px; display: flex; justify-content: center; border-radius: 50%; }

.a2a_button_twitter, .a2a_button_whatsapp, .a2a_button_google_gmail, .a2a_button_linkedin, .a2a_button_reddit, .a2a_button_facebook { border-radius: 50%; }

.post_rep { display: block; margin: 75px 0; }

.post_rep p { margin-bottom: 0; }

.post_rep .post_title { font-family: source_sans_pro, Open Sans, sans-serif; font-size: 1.2em; transition: none; }

.post_rep .read { visibility: hidden; transition: .3s; font-size: 0.8em; color: #666; }

@media only screen and (max-width: 925px) { .post_rep .read { display: none; } }

.post_rep .excerpt { display: flex; justify-content: flex-start; align-items: baseline; border-left: 3px solid #003434; transition: .3s; margin: 5px 10px 5px 0; }

.post_rep blockquote { background: inherit; border: none; font-size: .95em; color: #bfbfbf; margin: 5px 2vh 5px 0; padding: 0 1vh; }

.post_rep .post_date { color: #999999; font-size: 0.9em; }

.post_rep:last-child { margin-bottom: 0; }

.post_rep:hover .read { visibility: visible; color: #ff7733; }

.post_rep:hover .excerpt { border-left: 10px solid #003434; margin-right: 0; }

br.phone_breakline { display: none; }

@media only screen and (max-width: 800px) { br.phone_breakline { display: block; } }

#blogSoftwareButton { background: #1d6240; }

#EMPosts { display: none; }

.search-input { background: #1a1a1a; margin: 2rem auto; display: block; width: 80%; padding: 5px; font-family: source_sans_pro, Open Sans, sans-serif; font-size: 1em; color: #fff; border: .2rem solid #000; border-radius: 7px; }

.found-area p { margin: 0; }

.found-area a { text-decoration: none; }

.found-area .excerpt { color: #cccccc; font-size: .9em; }

.found-area .date { color: #999999; font-size: .9em; }

.found-area .tag { font-size: .9em; color: #3bc47f; }

.found-card { padding: 1rem; background: #181d23; transition: .3s ease; }

.found-card:hover { background: #1e242c; }

.search-not-found { text-align: center; display: block; }

.black-line { border-color: #000; background-color: #000; }

.excerpt-in-post { font-size: 1.2em; color: #8c8c8c; text-align: center; }

.picked-up-posts-wrapper { padding-bottom: 7rem; }

.picked-up-posts { display: flex; justify-content: space-around; padding: 0; }

@media only screen and (max-width: 925px) { .picked-up-posts { display: block; justify-content: inherit; margin: 0; max-width: 100%; } }

div.picked-up-post-box { background-image: var(--background); background-position: center; background-size: cover; min-height: 15rem; margin: 3rem; padding: 1rem; position: relative; border-radius: .5rem; }

@media only screen and (max-width: 925px) { div.picked-up-post-box { margin: 7rem 0; padding: 0; border-radius: 0; } }

.picked-up-post-box:hover > .picked-up-def { opacity: 1; }

a.picked-up-post-box, a.picked-up-post-box:hover { width: 100%; transition: none; text-decoration: none; background: none; }

.picked-up-def { padding: .5rem; background: #000; opacity: .6; bottom: -2rem; left: 1rem; right: 1rem; position: absolute; text-align: center; transition: .5s ease; }

@media only screen and (max-width: 925px) { .picked-up-def { opacity: .85; border-radius: .5rem; } }

.picked-up-post-title, .picked-up-post-date { margin: 0; padding: .1rem; font-weight: bold; }

.picked-up-post-title { background-color: #124; }

.picked-up-post-date { text-align: center; }

.art-circle { border-radius: 50%; width: min-content; border: 0.3rem solid #000; margin: 3rem auto; padding: 9rem; background-attachment: fixed; background-image: url("../../assets/images/gallerywp.jpg"); background-position: center; }

@media only screen and (max-width: 900px) { .art-circle { background-attachment: scroll; } }

.inside { border-radius: 50%; background: #000; height: 5rem; width: 5rem; margin: 0 auto; background-attachment: local; background-position: center; background-size: contain; background-image: url("../../assets/images/icon_spo.png"); }

.gallery_area { font-size: 1em; background-color: #141414; color: #d9d9d9; width: 100%; text-align: center; }

.gallery_area .gallery_post_image { -webkit-box-shadow: 0px 0px 7px 7px #000; box-shadow: 0px 0px 7px 7px #000; max-width: 90%; display: block; margin: 3rem auto; transition: .5s ease; }

@media only screen and (max-width: 900px) { .gallery_area .gallery_post_image { max-width: 100%; box-shadow: none; } }

@media only screen and (max-width: 900px) { .gallery_area .gallery_post_image:hover { max-width: 100%; box-shadow: none; } }

.gallery_area p { max-width: 1000px; margin: 0 auto; }

.gallery_area .image-name { font-family: "Roboto Mono", source_code_pro, Consolas, monaco, monospace; }

.gallery_area .image-name ::after, .gallery_area .image-name ::before { content: none; }

.gallery_parser { display: block; margin: 5rem auto; }

/*# sourceMappingURL=main.css.map */