<html>
    <h2>Hakkımda ve İletişim</h2>
    <img class="icon_image" src="images/iconab.png" alt="">
    <p>Merhaba, ben Çağlayan Demirci. Bilgisayar bilimleri (mühendisliği) öğrencisi.
        Bu sayfada, birkaç eski blog yazısı
        haricinde, kısa açıklamalarla
        özetlediğim yazılım projelerime yönlenen linkleri bulunduruyorum.</p>
    <p>Bana <i>demircicaglayan13 [at] gmail [nokta] com</i> mail adresi ile ya da sosyal medya hesaplarımdan
        ulaşabilirsiniz.
        <a href="https://www.instagram.com/cademirci/" target="_blank">Instagram</a>,
        <a href="https://twitter.com/cademirci" target="_blank">Twitter</a>,
        <a href="https://github.com/caglayandemirci" target="_blank">GitHub</a>,
        <a href="https://medium.com/@cademirci" target="_blank">Medium</a>,
        <a href="https://open.spotify.com/user/%C3%A7a%C4%9Flayan?si=hXGGSt9PTyCW9idiBpsfWw" target="_blank">Spotify</a>.
    </p>
</html>
