<html>
    <h2>Hakkımda ve İletişim</h2>
    <img src="images/iconab.png" alt="">
    <p>Merhaba, ben Çağlayan Demirci. Bilgisayar bilimleri (mühendisliği) öğrencisi.
        Eskiden büyük bir blog olan bu sayfada, artık kenarda dursun dediğim birkaç blog yazısı
        haricinde, kişisel bilgiler olarak iletişim bilgilerimi, ve kısa açıklamalarla
        özetlediğim GitHub kodlarıma yönlendirdiğim linkleri bulunduracağım.</p>
    <p>Bana <b>demircicaglayan13 [at] gmail [nokta] com<b> mail adresi ile ya da sosyal medya hesaplarımdan
        ulaşabilirsiniz. <a href="#">Instagram</a>, <a href="#">Twitter</a>,
        <a href="">Medium</a>, <a href="">Spotify</a>.
    </p>
</html>
