<html>
    <h2>Hakkımda ve İletişim</h2>
    <img src="images/iconab.png" alt="">
    <p>Merhaba, ben Çağlayan Demirci. Bilgisayar bilimleri (mühendisliği) öğrencisi.
        Bu sayfada, birkaç eski blog yazısı
        haricinde, kısa açıklamalarla
        özetlediğim GitHub kodlarıma yönlenen linkleri bulunduruyorum.</p>
    <p>Bana <b>demircicaglayan13 [at] gmail [nokta] com</b> mail adresi ile ya da sosyal medya hesaplarımdan
        ulaşabilirsiniz.
        <a href="https://www.instagram.com/cademirci/">Instagram</a>,
        <a href="https://twitter.com/cademirci">Twitter</a>,
        <a href="https://github.com/caglayandemirci">GitHub</a>,
        <a href="https://medium.com/@cademirci">Medium</a>,
        <a href="https://open.spotify.com/user/%C3%A7a%C4%9Flayan?si=hXGGSt9PTyCW9idiBpsfWw">Spotify</a>.
    </p>
</html>
