<div class="footer_container">
    <div class="footer_content">
        
        <!--
        <div class="social_media_bar">
            <a href="https://github.com/cademirci" target="_blank"><img src="/assets/images/icon_git.png" class="social_media_icon"></a>
            <a href="https://www.instagram.com/cademirci/" target="_blank"><img src="/assets/images/icon_ins.png" class="social_media_icon"></a>
            <a href="https://twitter.com/cademirci" target="_blank"><img src="/assets/images/icon_twi.png" class="social_media_icon"></a>
            <a href="" target="_blank"><img src="/assets/images/icon_lin.png" class="social_media_icon"></a>
            <a href="" target="_blank"><img src="/assets/images/icon_spo.png" class="social_media_icon"></a>
        </div>
        -->
    </div>
</div>
