<div class="footer_container">
    <div class="footer_content">
        <div class="social_media_bar">
            <a href="https://github.com/cademirci" target="_blank"><img src="/assets/images/icon_git.png" class="social_media_icon"></a>
            <a href="https://www.linkedin.com/in/%C3%A7a%C4%9Flayan-demirci-741a14199/" target="_blank"><img src="/assets/images/icon_lin.png" class="social_media_icon"></a>
            <a href="https://twitter.com/cademirci" target="_blank"><img src="/assets/images/icon_twi.png" class="social_media_icon"></a>
            <a href="https://www.instagram.com/cademirci/" target="_blank"><img src="/assets/images/icon_ins.png" class="social_media_icon"></a>
            <a href="https://open.spotify.com/user/%C3%A7a%C4%9Flayan?si=TpgH3E7fS3e--nEN-WExcg" target="_blank"><img src="/assets/images/icon_spo.png" class="social_media_icon"></a>
        </div>
        <div class="footer_text">
            <p>
                I designed and coded my <a href="https://github.com/cademirci/cademirci.github.io">open source</a> website under <br>
                2018 - 2020 GitHub Inc. and choosealicense.com contributors.
            </p>
            <div class="signature">
                <p><img src='{{ "assets/images/icon_.png" }}' alt=""></p>
                <p class="signature">Çağlayan Demirci</p>
            </div>
        </div>
    </div>
</div>
