<head>
    <title>
        {% if page.title %}
            {{ page.title }}
        {% else %}
            {{ site.title }}
        {% endif %}
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% feed_meta %}
    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/css/ghostcode-style.css" | prepend: site.baseurl }}">
    <script type="text/javascript" src='{{ "assets/js/main.js" }}'></script>
    <script type="text/javascript" src='{{ "assets/js/panel.js" }}'></script>
    <script type="text/javascript" src='{{ "assets/js/ghostcode.js" }}'></script>
</head>
