<html>
{% include head.html %}
	<body>
		<div class="left_bar">
			<div class="social_media_bar">
				<a href="https://www.instagram.com/cademirci/" target="_blank"><img src="../images/logoi.jpg"></a>
				<a href="https://twitter.com/cademirci" target="_blank"><img src="../images/logot.jpg"></a>
				<a href="https://medium.com/@cademirci" target="_blank"><img src="../images/logom.jpg"></a>
				<!--<a href="https://www.facebook.com/caglayan.demirci.56" target="_blank"><img src="../images/logof.jpg"></a>-->
				<a href="https://open.spotify.com/user/%C3%A7a%C4%9Flayan" target="_blank"><img src="../images/logos.jpg"></a>
			</div>
		</div>
	</body>
</htm>
