<html>
    <div class="navigation_bar" id="navigation_bar">
        <div class="navigation_bar_inside">
            <div class="navigation_image_container">
                <a href="#">
                    <img src="images/iconhp.png"><br>
                    Anasayfa
                </a>
            </div>
            <div class="navigation_image_container">
                <a href="#">
                    <img src="images/iconab.png"><br>
                    Hakkımda
                </a>
            </div>
            <div class="navigation_image_container">
                <a href="#">
                    <img src="images/iconcs.png"><br>
                    Kodlama
                </a>
            </div>
            <div class="navigation_image_container">
                <a href="#">
                    <img src="images/iconbl.png"><br>
                    Blog
                </a>
            </div>
            <div class="navigation_image_container">
                <a href="#">
                    <img src="images/iconct.png"><br>
                    İletişim
                </a>
            </div>
            <div class="navigation_image_container">
                <a href="#">
                    <img src="images/iconar.png"><br>
                    Arşiv
                </a>
            </div>
        </div>
    </div>
</html>
