
<div class="panel_container">
    <div class="panel">
        <div class="cell" id="c1">
            <p id="nameOnPanel">Çağlayan Demirci <span id="page_def">. Personal Page</span></p>
            <p id="nameOnPhonePanel">cademirci</p>
            <div id="c1_pad">*</div>
        </div>
        <div class="cell" id="c2">

        </div>
        <p class="arrow" id="upArrow">&uarr;</p>
        <div class="cell" id="c3">
            {% if page.layout == "home" %}
                {% for page in site.pages %}
                    {% if page.is_navlink %}
                        &emsp;
                        <a class="navlink navbarlink"
                           data-scroll-top='#{{ page.title | downcase | replace: " ", "-" }}'>
                           {{ page.navlink_name }}
                        </a>
                    {% endif %}
                {% endfor %}
                <div class="menu_box">
                    <div class="menu_line"></div>
                    <div class="menu_line"></div>
                    <div class="menu_line"></div>
                </div>
            {% elsif page.layout == "post" %}
                <a class="navlink" href="{{ site.url }}">&larr; Home</a>&emsp;
                <a class="navlink" href="{{ 'blog' | prepend: site.baseurl }}">&larr; Blog</a>
            {% else %}
                <a class="navlink" href="{{ site.url }}">&larr; Home</a>
            {% endif %}
        </div>
    </div>
    <div class="navbox">
        {% for page in site.pages %}
            {% if page.is_navlink %}
                <a class="navlink" data-scroll-top='#{{ page.title | downcase | replace: " ", "-" }}'>
                   <div class="navlink_div">
                      {{ page.navlink_name }} <img src="{{ page.image }}" class="nav_image">
                   </div>
                </a>
            {% endif %}
        {% endfor %}
    </div>
</div>
<div class="panel_pad"></div>
