/*
    https://github.com/cademirci/ghost-code

    Customized.

    Author: Caglayan Demirci
    GitHub: cademirci
*/
code { color: ghostwhite; }



.language-terminal pre.highlight {
    background: #101010;
    color: ghostwhite;
}

pre.highlight,
.markdown-body pre.highlight {
    border: 1px solid #666;
    padding: 25px 10px;
    /* margin: 25px 0; */
    font-size: 1em;
    border-radius: 5px;
    background: #1a1a1a;

    /* TAB character be 2 whitespaces wide. */
    tab-size: 2;
    -moz-tab-size: 2;
    -o-tab-size: 2;
    tab-size: 2;

	/* code lines do not outflow from code blocks */
	white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}
/* for phone screens */
@media only screen and (max-width: 800px) {
    pre.highlight,
    .markdown-body pre.highlight {
        font-size: 0.8em;
        margin: 75px -19px;
        border: none;
    }
}

pre::before { /* language name */
    content: attr(data-before);
    margin-top: -15px;
    font-weight: bold;
    float: right;
    color: #3bc47f;
    letter-spacing: 0;
}

code {
    font-family: Source_Code_Pro, monospace;
} @font-face {
	font-family: Source_Code_Pro;
	src: url(fonts/Source_Code_Pro/SourceCodePro-Regular.ttf);
}

code { /* iniline codes */
    padding: 0 3px;
    background: #0b0e0b;
    border: 1px solid #666;
    border-radius: 3px;
    font-size: .9em;
    color: #35b099;
}

/* neutralizing inline code features for code blocks */
pre.highlight code,
figure.highlight code {
    padding: 0;
    color: #d6d6d6;
    font-size: .85em;
    border: none;
    background: none;
}
figure.highlight pre {
    font-family: inherit;
    font-size: inherit;
}

/* line numbers cannot be selected */
span.ln {
    user-select: none;
    color: #666;
}
.c, .c1, .cm, .cs, .cp {
    color: #3bc47f;
}
