
body {
    margin: 0;
    background-color: #f2f3f4;
    color: #222324;
    font-family: caglayandemirci_Open-Sans, Open Sans, sans-serif;
}

/* font, typography */
body p, p,
markdown-body p {style="color: #206040"
    font-family: caglayandemirci_Open-Sans, Open Sans, sans-serif;
    font-size: 0.98em;
    line-height: 1.6;
} @font-face {
	font-family: caglayandemirci_Open-Sans;
	src: url(fonts/Open-Sans/OpenSans-Regular.ttf);
}

/* second font: for codes, title, etc. */
@font-face {
	font-family: caglayandemirci_SourceCode;
	src: url(fonts/SourceCodePro/SourceCodePro-Regular.ttf);
}

/* Open Sans Light for site title */
@font-face {
	font-family: caglayandemirci_OSLight;
	src: url(fonts/Open-Sans/OpenSans-Light.ttf);
}

.title_zone,
.article_zone,
.navigation_bar_inside,
.footer_inside,
.constant {
    max-width: 85%;
} @media only screen and (min-width: 1280px) {
    /* header and footer contents */
    /* which means kind of breads of the wrap */
    .title_zone,
    .navigation_bar_inside,
    .footer_inside,
    .constant {
        /* 1088px: 85/100 of 1280px */
        max-width: 1088px;
    }
}
@media only screen and (min-width: 1128px) {
    /* 1128px: 100/85 of 960px */
    .article_zone { /* text */
        /* 960px: 50/100 of 17.3'' screens */
        max-width: 960px;
    }
}

.title_zone {
    margin: 5px auto;
}
.title {
    font-family: caglayandemirci_OSLight;
    font-weight: bold;
    letter-spacing: 2px;
}


.constant_zone {
    display: block;
    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: #161718;
    color: #bfbfbf;
    font-size: 0.8em;
    font-family: caglayandemirci_SourceCode;
    letter-spacing: 1px;
}

.constant {
    margin: 0 auto;
    justify-content: space-around;
    align-items: ;
    display: flex;
}

.cp1,
.cp2,
.cp3,
.hiddencp {
    width: 33%;
}
.cp1 { text-align: left; }
.cp2 { text-align: center; }
.cp3 { text-align: right; }

.hiddencp {
    display: none;
}

.top_button {
    color: white;
    background-color: #161718;
    border: 1px solid grey;
    display: none;

    float: right;
}

.night_button,
.day_button,
.inc_fs_button {
    border: none;
    background-color: #161718;
    border: 1px solid grey;
}
.night_button {
    display: block;
    color: #336699;
}

.day_button {
    display: none;
    color: #ffff99;
}



.article_zone {
    margin: 5rem auto;
}

/*  navigation bar: imaged menu links
    on black background     */
.navigation_bar {
    display: block;
    background-color: #252627;
    color: ghostwhite;
    font-size: 0.9em;
    text-align: center;
    padding: 2rem;
}
.navigation_bar a,
.navigation_bar a:visited {
    text-decoration: none;
    color: ghostwhite;
    font-size: 0.98em;
}
.navigation_bar a:hover {
    text-decoration: underline;

}

.navigation_bar_inside {
    margin: 2rem auto;
    justify-content: space-around;
    align-items: stretch;
    display: flex;
}

.navigation_image_container {
    width: 25%;
    height: 100%;
    text-align: center;
    margin: 0 5px;
}
.navigation_bar_inside img {
    width: 65px;
    height: 65px;
}

.footer {
    display: block;
    background-color: #000;
    color: #7f7f7f;
    font-size: 0.85em;
    padding: 10px 0;
    border-top: 10px solid #151617;
}
.footer img {
    height: 35px;
    width: 35px;
    padding-left: 15px;
}
.footer a,
.footer a:visited {
    color: #afafaf;
}
.footer a:hover {
    color: #cfcfcf;
}
.footer_inside {
    margin: 10px auto;
}
.footer_line {
    display: block;
}

#fl1,
#fl3 { text-align: right; }

.search_zone {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 10px auto;
    width: 70%;
}
#search_area {
    height: 32px;
    width: 100%;
    font-size: 16px;
    padding: 4px;
    margin: 10px auto;
}
#search_button {
    height: 32px;
    background: #1a1a1a;
    color: ghostwhite;
    border: none;
    margin-left: 4px;
}
