.container {
	width: 1000px;
	background-color: rgb(20,7,7);
	margin-top: 100px;
	margin-bottom: 100px;
}
body {
  background-color: rgb(20,7,7);
}
h1 {
  text-align: center;
  color: GhostWhite;
}
h4 {
  color: #666699;
  text-align: right;
}
h3 {
  color: white;
}
p {
  color: rgb(220,220,220);
  font-style: normal;
  font-size: 17px;
  line-height: 166%;
}
p2 { 
  color: rgb(166,166,166);
  text-align: right;
}
p3 { /* hello world */
	font-family: Lucon;
	font-size: 14px;
	color: lime;
} @font-face {
		font-family: Lucon;
		src: url(../fonts/lucon.ttf);
}
hr1 { /* a red cursor  o.O */
   color: red;
   border: 1px solid red;
   background-color: red;
}

a {
	color: green;
}
code {
	background-color: green;
	color: lime;
	padding: 3px 3px 3px 3px;
}
