body {
  background-color: rgb(25,25,25);
}
p {
  color: rgb(220,220,220);
  font-style: normal;
  font-size: 17px;
  line-height: 166%;
}
a {
	color: lime;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
 	body {
	  	width: 100%;
		background: rgb(42,42,42);
	}
	p {
		font-size: 15px;
	}
}
