body {
	background: #fafafa;
	color: #222;
	font-family: Open Sans, caglayandemirci_Open-Sans;
	font-size: 1em;
	line-height: 1.6;
	margin: 0;
} @font-face {
	font-family: caglayandemirci_Open-Sans;
	src: url(Open-Sans/OpenSans-Regular.ttf);
}
p, .markdown-body p {
	font-family: Open Sans, caglayandemirci_Open-Sans;
}
.markdown-body {
	max-width: 1000px;
	margin: 25px auto;
	padding: 20px;
}

/* coding */
/* syntax highlighting via tomorrow-night.css 
   which is in the same directory. */
pre, code {
	font-family: Consolas;
	font-size: 13.5px;
	line-height: 1.3;
	margin: 40px 0;
	border: 1px solid #1d1f21;
}
pre {
	/* TAB character be 4 whitespace wide. */
    -moz-tab-size: 4; /* Firefox 4+ */
    -o-tab-size: 4;   /* Opera 11.5 & 12.1 only */
    tab-size: 4;      /* Chrome 21+, Safari 6.1+, Opera 15+ */
	
	/* code lines do not outflow from code blocks */
	white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.code_source_name {
	color: #999;
	background-color: #222;
	display: block;
	text-align: center;
	/* border-radius: 13px 13px 0 0; */
	border: 1px solid #222;
	margin-bottom: -40px;
	padding: 5px;
}/**/
.markdown-body pre {
	padding: 10px;
	border: 1px solid #000;
}
.dir_zone {
	display: inline-block;
	width: 100%;
	text-align: center;
}
.markdown-body img.dir { 
	height: 100px; 
	margin: 0;
	display: inline;
}
.markdown-body img.icon { 
	height: 50px; 
	margin: 0;
	display: inline;
}
.dir:hover {
    box-shadow: 0 2px 1px rgba(0,140,186, 0.5);
}

.back {
	font-size: 14px;
	float: left;
	text-decoration: none;
	color: black;
}

h1 {
	text-align: center;
}

.markdown-body a,
.markdown-body a:visited {
	color: #4f8ac9;
	text-decoration: none;
}
.markdown-body a:hover {
	color: #3269a2;
	text-decoration: none;
} 



.article_representation {
	border-bottom: 1px solid #999; 
	justify-content: space-around; 
	align-items: strech;
	display: flex;
	margin-bottom: 30px;
}
.article_representation_date {
	padding-bottom: 20px; 
	color: #666; 
	font-size: 0.8em;
}
.article_representation_text {
	padding-left: 20px; 
	width: 66%;
}
.article_representation img {
	max-width: 100%;
	margin: 0;
	display: block;
	width: 300px;
}
@media only screen and (max-width: 750px) {
	.article_representation img {
		height: 0;
		width: 0;
	}
	.article_representation_text {
		padding-left: 20px; 
		width: 100%;
	}
}
