@import url("style.css");

.foggy {
	background-image: url(../images/foggyforest.jpg);
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
	height: 500px;
	width: 100%;
}
.foggy img {
	
	width: 100%;
}