body {
	margin: 0;
	background: #fff;
	font-family: Ubuntu_Regular, ubuntu;
	font-size: 0.9em;
	line-height: 1.2;
	color: #1a1a1a;
	border-top: 3px solid #666;
} @font-face {
	font-family: Ubuntu_Regular;
	src: url(ubuntu-font-family-0.83/Ubuntu-R.ttf);
}

.markdown-body {
	max-width: 750px;
	margin: 128px auto;
	padding: 20px;
	border: 1px solid #ddd;
}

/* coding */
/* syntax highlighting via tomorrow-night.css
   which is in the same directory. */
pre, code {
	font-family: Consolas;
	font-size: 13.5px;
	line-height: 1.2;
	margin: 40px 0;
	border: 1px solid #1d1f21;
}
pre {
	/* TAB character be 4 whitespace wide. */
    -moz-tab-size: 4; /* Firefox 4+ */
    -o-tab-size: 4;   /* Opera 11.5 & 12.1 only */
    tab-size: 4;      /* Chrome 21+, Safari 6.1+, Opera 15+ */

	/* code lines do not outflow from code blocks */
	white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.markdown-body pre {
	padding: 10px;
	border: 1px solid #000;
}
.code_source_name {
	color: #999;
	background-color: #222;
	display: block;
	text-align: center;
	/* border-radius: 13px 13px 0 0; */
	border: 1px solid #222;
	margin-bottom: -40px;
	padding: 5px;
}/**/

a,
a:visited,
.markdown-body a,
.markdown-body a:visited {
	text-decoration: none;
	color: #333399;
}

a:hover,
a:visited:hover,
.markdown-body a:hover,
.markdown-body a:visited:hover {
	text-decoration: none;
	color: #4040bf;
}
