<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta content='width=device-width, initial-scale=1' name='viewport'/>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="caglayandemirci.com/css_files/sub-page_style.css">
		<link rel="stylesheet" type="text/css" href="caglayandemirci.com/css_files/tomorrow-night.css">
		<link rel="icon" href="../images/siteicon2.3.jpg">
	</head>
	<body>
		<div class="markdown_zone">
			<!-- ! -->
			<article class="markdown-body">
				<div style="height: 75px;">
					<a href="../data_structures/main">
						<img src="../images/left_arrow.png" style="height: 50px; float: left;">
						<p class="back">&emsp; Data Structures Main Page</p>
					</a>
				</div>
				<h1>Data Structures Sub-pages</h1>
				{{ content }}
			</article>
			<!-- ! -->
		</div>
	</body>
</html>