<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta content='width=device-width, initial-scale=1' name='viewport'/>
		<link rel="stylesheet" type="text/css" href="../indexStyle.css">
		<script type="text/javascript" src="js/script.js"></script>
		<link rel="icon" href="coloricon.png">
	</head>
	<body>
		<div class="header">
			<div class="navholder">
				<div class="name">ÇAĞLAYAN DEMİRCİ</div>
				<div class="catchphrase">Hayat, Evren ve Her Şey'e Dair Nihai Kişisel Blog</div>
				<div class="navbar">
					<a href="index.html" style="color: lime">BLOG</a> &emsp;
					<a href="CSmain.html">BİLGİSAYAR BİLİMLERİ</a> &emsp;
					<a href="about.html">HAKKIMDA/İLETİŞİM</a>
				</div>
			</div>
		</div>
		<div class="mainZone">
			<article class="markdown-body">{{ content }}</article>
		</div>
		<div class="footer">
			<div class="footerLinksZone">
				<div class="footerColumn"> <!-- fc1 -->
					<a href="about_page.html">Site Hakkında</a><br>
					<a href="https://github.com/caglayandemirci/caglayandemirci.github.io" target="_blank">GitHub Repository</a>
				</div>
				<div class="footerColumn"> <!-- fc2 -->
					<a href="https://radyo.etu.edu.tr/" target="_blank">Radyo ETÜ</a><br>
					<a href="https://www.twitch.tv/valhalla_tv_" target="_blank">Valhalla Twitch</a><br>
					<a href="https://open.spotify.com/user/%C3%A7a%C4%9Flayan" target="_blank">Spotify</a>
				</div>
				<div class="footerColumn"> <!-- fc3 -->
					<a href=""> </a><br>
					<a href=""> </a>
				</div><br><br><br><br><br>
			</div>
			<div class="signatures">
				Designed and coded by Çağlayan Demirci <br>
				Comment boxes by <b>Disqus</b>. Proudly hosted by <b>GitHub</b>
			</div>
		</div>
		<script>
			function myFunction() {
				var x = document.getElementById("hiddenLinks");
				if (x.style.display === "block") {
					x.style.display = "none";
				} else {
					x.style.display = "block";
				}
			}
		</script>
	</body>
</html>
