<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta content='width=device-width, initial-scale=1' name='viewport'/>
		<link rel="stylesheet" type="text/css" href="../default_style.css">
		<script type="text/javascript" src="js/script.js"></script>
		<link rel="icon" href="coloricon.png">
	</head>
	<body>
		<div class="header">
			<div class="navholder">
				<div class="name">ÇAĞLAYAN DEMİRCİ</div>
				<div class="catchphrase">Hayat, Evren ve Her Şey'e Dair Nihai Kişisel Blog</div>
				<div class="navbar">
					<a href="https://caglayandemirci.github.io/" style="color: lime">BLOG</a> &emsp;
					<a href="https://caglayandemirci.github.io/csmainpage">BİLGİSAYAR BİLİMLERİ</a> &emsp;
					<a href="https://caglayandemirci.github.io/about">HAKKIMDA/İLETİŞİM</a>
				</div>
			</div>
		</div>
		<div class="mainZone">
			<div class="textZone"><article class="markdown-body">{{ content }}</article></div>
			<div class="right_frame">
				<p><b>SON YAZILAR (5)</b></p>
				<!--sign_c137_for CP.py--> 
				<p><a href="https://caglayandemirci.github.io/blog/reha-kuldasli">Reha Kuldaşlı</a><br>Kısa bir övgü<br>12.11.2017</p>
				<p>
					<a href="https://caglayandemirci.github.io/blog/turk-metal-bolum-1">Türk Metal, Bölüm 1</a><br>09.11.2017<br>
					&emsp; &#8600; YouTube'dan bir derleme: <a href="https://caglayandemirci.github.io/blog/turkish-metal.html" target="_blank"> Türk Metal</a>
				</p>
				<p><a href="https://caglayandemirci.github.io/blog/black-metal">Black Metal</a><br>Genel Bakış<br>03.11.2017</p>
				<p><a href="https://caglayandemirci.github.io/blog/equilibrium-falls">Equilibrium Falls</a><br>Kısa bir grup analizi<br>30.10.2017</p>
				<p><a href="https://caglayandemirci.github.io/blog/alternatif-dunya-ozlemi"><br>Alternatif Dünya Özlemi</a><br>22.02.2017</p>
				<p>Hepsini göreyim. <span><button class="downToRestButton" onclick="myFunction()">&dArr;</button></span> (yeniden eskiye)</p>
				<div id="hiddenLinks" style="display: none">
					<p>Başka yazı yok ki.</p>
				</div>
			</div>
		</div>
		
		<div class="footer">
			<div class="footerLinksZone">
				<div class="footerColumn"> <!-- fc1 -->
					<a href="about_page.html">Site Hakkında</a><br>
					<a href="https://github.com/caglayandemirci/caglayandemirci.github.io" target="_blank">GitHub Repository</a>
				</div>
				<div class="footerColumn"> <!-- fc2 -->
					<a href="https://radyo.etu.edu.tr/" target="_blank">Radyo ETÜ</a><br>
					<a href="https://www.twitch.tv/valhalla_tv_" target="_blank">Valhalla Twitch</a><br>
					<a href="https://open.spotify.com/user/%C3%A7a%C4%9Flayan" target="_blank">Spotify</a>
				</div>
				<div class="footerColumn"> <!-- fc3 -->
					<a href=""> </a><br>
					<a href=""> </a>
				</div><br><br><br><br><br>
			</div>
			<div class="signatures">
				Designed and coded by Çağlayan Demirci <br>
				Comment boxes by <b>Disqus</b>. Proudly hosted by <b>GitHub</b>
			</div>
		</div>
		<script>
			function myFunction() {
				var x = document.getElementById("hiddenLinks");
				if (x.style.display === "block") {
					x.style.display = "none";
				} else {
					x.style.display = "block";
				}
			}
		
			{% if site.google_analytics %}
				<script type="text/javascript">
					(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
					(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
					m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
					})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
					ga('create', '{{ site.google_analytics }}', 'auto');
					ga('send', 'pageview');
			{% endif %}
		</script>
	</body>
</html>
