{% include head.html %}
<body>
    <div class="gallery_header">
        <p class="name_sentence">Gallery</p>
    </div>
    {% include panel.html %}
    <div class="content_wrapper gallery_area">
        {{ content }}
        <ul>
            {% for gallery_post in site.data.gallery_post %}
                <li>
                    {% if gallery_post.serie %}
                        <img class="gallery_post_image" src="{{ gallery_post.main_image }}">
                        <h4 class="image-name">{{ gallery_post.name }}</h4>
                        <p class="image-excerpt">{{ gallery_post.excerpt }}</p>
                        {% for serie_image in gallery_post.images %}
                            <img class="gallery_post_image" src="{{ serie_image }}">
                        {% endfor %}
                    {% else %}
                        <img class="gallery_post_image" src="{{ gallery_post.image }}">
                        <h4 class="image-name">{{ gallery_post.name }}</h4>
                        <p class="image-excerpt">{{ gallery_post.excerpt }}</p>
                    {% endif %}
                </li>
                {% if forloop.last == false %}
                    <img class="gallery_parser" src="{{ "/assets/images/hexagon.png" | prepend: site.baseurl }}">
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    {% include footer.html %}
</body>
