<!DOCTYPE html>
<html>
	{% include head.html %}
	<body>
		{% include header.html %}
		{% include constant_panel.html %}

		<!-- ! -->
		<article class="markdown-body">

			<div>
	            <div class="main_part">
	                {% include about.html %}
	            </div>
	        </div>
	        <div style="background: #171819; padding: 5px 0;">
	            <div class="main_part">
					{{ content }}
	            </div>
	        </div>
	        <div>
	            <div class="main_part">
	                {% include blog.html %}
	            </div>
	        </div>

		</article>
		<!-- ! -->

		{% include footer.html %}
	</body>
	<!--<script>
		$(document).ready(function(){
			document.getElementById("hp").style.boxShadow = "0 5px 5px rgb(0, 128, 64, 0.5)";
		});
	</script>-->
</html>
