<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta content='width=device-width, initial-scale=1' name='viewport'/>
		<meta content='Çağlayan Demirci' name='Description'/>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="../css_files/style.css">
		<link rel="stylesheet" type="text/css" href="../css_files/tomorrow-night.css">
		<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
		<link rel="icon" href="../images/siteicon2.3.jpg">
		<script>
			(function(){
			  // if firefox 3.5+, hide content till load (or 3 seconds) to prevent FOUT
			  var d = document, e = d.documentElement, s = d.createElement('style');
			  if (e.style.MozTransform === ''){ // gecko 1.9.1 inference
				s.textContent = 'body{visibility:hidden}';
				var r = document.getElementsByTagName('script')[0];
				r.parentNode.insertBefore(s, r);
				function f(){ s.parentNode && s.parentNode.removeChild(s); }
				addEventListener('load',f,false);
				setTimeout(f,3000);
			  }
			})()
		</script>
	</head>
	<body>
		<div class="site_title"><img src="../images/siteicon2.2.png" class="icon_img">
			Çağlayan Demirci<br><p style="font-size: 0.9em; color: rgb(150,150,150); margin-top: 0;">Bazı yazılar, notlar, kişisel site...</p>
		</div>
		<div class="header">
			<div class="nav_bar">
				<a class="tooltip" href="../index"><img src="../images/iconhp.png" id="hp"><span class="tooltiptext">Ana Sayfa</span></a>
				<a class="tooltip" href="../about"><img src="../images/iconab.png" id="ab"><span class="tooltiptext">Hakkımda</span></a>
				<a class="tooltip" href="../contact"><img src="../images/iconct.png" id="ct"><span class="tooltiptext">İletişim</span></a>
				<a class="tooltip" href="../archive"><img src="../images/iconar.png" id="ar"><span class="tooltiptext">Arşiv</span></a>
			</div>
		</div>
		<div class="markdown_zone">
			<!-- ! -->
			<article class="markdown-body">
			<ul>
			  {% for post in site.posts %}
				<li>
				  <a href="{{ post.url | replace: ‘.html’, ‘’}}">{{ post.title }}</a>
				</li>
			  {% endfor %}
			</ul>
						
				{{ content }}

				<h2>Son Yazılar</h2>
				<div class="article_container">
					<div class="article_window">
					
						<a href="articles/depresyon-3-savasci-kisilik">
						<img src="https://cdn-images-1.medium.com/max/1280/1*_nJxs4ua47BzQJGrByoLhQ.jpeg"></a>
						<div class="ar_wi_desc">
							<h3><a href="articles/depresyon-3-savasci-kisilik">Depresyon 3 - Savaşçı Kişilik</a></h3>
								<br><span style="font-size: .85em">06.08.2018</span><br>
								Depresyon yazı dizisinin üçüncü ve son kısmı: Mücadele, onun araç mı karakter mi olduğu, 
								depresyonun zayıflık olmadığı gibi kavramlar üzerine.
						</div>
					</div>
					
					<div class="article_window">
						<a href="articles/depresyon-2-zevk-ve-guc">
						<img src="../images/post_images/strongbm.png"></a>
						<div class="ar_wi_desc">
							<h3><a href="articles/depresyon-2-zevk-ve-guc">Depresyon 2 - Zevk ve Güç</a></h3>
							<br><span style="font-size: .85em">31.07.2018</span><br>
								Depresyon yazı dizisinin ikinci kısmı: Güç kavramı, bende çağrıştırdıkları,
								zevk karşısındaki pozisyonu ve depresyon ile bağlantıları.
						</div>
					</div>
				</div>
				
				<div class="article_container">
				
					<div class="article_window">
						<a href="articles/depresyon-1-anlamsizlik-ve-mutluluk-algisi">
						<img src="https://i.pinimg.com/originals/7e/20/62/7e2062768c34783f5c4cd2f8409ebfea.jpg"></a>
						<div class="ar_wi_desc">
							<h3><a href="articles/depresyon-1-anlamsizlik-ve-mutluluk-algisi">Depresyon 1 - Anlamsızlık ve Mutluluk Algısı</a></h3>
							<br><span style="font-size: .85em">29.07.2018</span><br>
								Depresyon yazı dizisinin ilk kısmı: Depresyonu tanıma, acıyı kabullenme, 
								mutluluk zorunluluğu algısı gibi kavramlar üzerine.
						</div>
					</div>
					
					<div class="article_window">
						<a href="articles/the-algorithm">
						<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4a/The_Algorithm.jpg/1200px-The_Algorithm.jpg"></a>
						<div class="ar_wi_desc">
							<h3><a href="articles/the-algorithm">The Algorithm</a></h3>
							<br><span style="font-size: .85em">20.06.2018</span><br>
								Yeni nesil bir elektronik/metal grubu hakkında.
						</div>
					</div>
				</div>
				
				<br><br><br><h2>Bilgisayar Bilimleri</h2>
				
				<img src="../images/csimg.png">
				
				Bu alanda çoğunluğu kaynak kodlarıyla beraber sunulan; kimi tecrübeler, notlar ya da öğreti amaçlı ufak yazılar.
				
				<br><br><br>
				
				<div class="article_container">
					<div class="article_window">
						<a href="../cs/fout-sorunu"><img src="https://image.ibb.co/nEv7Sy/foutp.png"></a>
						<div class="ar_wi_desc">
							<h3><a href="../cs/fout-sorunu">FOUT Sorunu</a></h3>
							<br><span style="font-size: .85em">28.05.2018</span><br>
								Web tasarımı/İnternet programlama ile ilgilenenler için teknik bir ayrıntı.
						</div>
					</div>
					
					<div class="article_window">
						<a href="../cs/javascript-ile-space-impact"><img src="../cs/jssi.png"></a>
						<div class="ar_wi_desc">
							<h3><a href="../cs/javascript-ile-space-impact">Javascript ile Space Impact</a></h3>
							<br><span style="font-size: .85em">24.04.2018</span><br>
								Basit, son derece kötü yazılmış, ancak iyi bir temel js kod alıştırması.
						</div>
					</div>
				</div>
				
			</article>
			<!-- ! -->
		</div>
		<div class="footer">
			<div class="social_media_bar">
				<a href="https://www.instagram.com/cademirci/" target="_blank"><img src="../images/logoi.jpg"></a>
				<a href="https://twitter.com/cademirci" target="_blank"><img src="../images/logot.jpg"></a>
				<a href="https://medium.com/@cademirci" target="_blank"><img src="../images/logom.jpg"></a>
				<!--<a href="https://www.facebook.com/caglayan.demirci.56" target="_blank"><img src="../images/logof.jpg"></a>-->
				<a href="https://open.spotify.com/user/%C3%A7a%C4%9Flayan" target="_blank"><img src="../images/logos.jpg"></a>
			</div>
			<div class="bottom_signatures">
				Proudly hosted by <b>GitHub</b>.<br>
				I have published the whole <a href="https://github.com/caglayandemirci/caglayandemirci.github.io">design and coding</a>. Çağlayan Demirci. Ankara. 2017
			</div>
		</div>
	</body>
	<script>
		$(document).ready(function(){ 
			document.getElementById("hp").style.boxShadow = "0 5px 5px rgb(0, 128, 64, 0.5)";
		});
	</script>
</html>