{% include head.html %}
<body>
    <div class="default_header"></div>
    {% include panel.html %}
    <div class="reading_area">
        <div class="content_container">
            {% if page.is-serie %}
                <h1>{{ page.serie-title }}</h1>
                <p class="excerpt-in-post">Part {{ page.episode-number }}</p>
            {% endif %}
            <h1>{{ page.title }}</h1>
            <p class="excerpt-in-post">{{ page.excerpt }}</p>
            <div class="post_date">{{ page.date | date: "%d.%m.%Y" }}</div>
            <div class="post_tags">{{ page.tags | sort | join: ", " }}</div>
            <hr>
            {{ content }}
        </div>
    </div>
    <div class="share_phrase">
        <p>Share this post?</p>
    </div>
    <div class="a2a_kit a2a_kit_size_32" data-a2a-icon-color="#1a1a1a">
        <!--<a class="a2a_dd" href="https://www.addtoany.com/share"></a>-->
        <div class="share_button" id="sb_whatsapp"><a class="a2a_button_whatsapp"></a></div>
        <div class="share_button" id="sb_gmail"><a class="a2a_button_google_gmail"></a></div>
        <div class="share_button" id="sb_twitter"><a class="a2a_button_twitter"></a></div>
        <div class="share_button" id="sb_facebook"><a class="a2a_button_facebook"></a></div>
        <div class="share_button" id="sb_linkedin"><a class="a2a_button_linkedin"></a></div>
        <div class="share_button" id="sb_reddit"><a class="a2a_button_reddit"></a></div>
    </div>
    <script async src="https://static.addtoany.com/menu/page.js"></script>
    {% include footer.html %}
</body>
