<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta content='width=device-width, initial-scale=1' name='viewport'/>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="../css_files/style.css">
		<link rel="stylesheet" type="text/css" href="../css_files/tomorrow-night.css">
		<link rel="icon" href="../images/siteicon2.3.jpg">
		<style>
			body {
				font-size: 1em;
			}
		</style>
	</head>
	<body>
		<div class="header">
			<a href="../index"><img class="site_title" src="../images/title5.png"></a>
			<div class="nav_bar">
				<a href="../index"><img src="../images/iconhp.png"></a>
				<a href="../notes/2018"><img src="../images/iconnp.png"></a>
				<a href="../about"><img src="../images/iconac.png"></a>
				<a href="../contact"><img src="../images/iconct.png"></a>
			</div>
		</div>
		<div class="markdown_zone">
			<!-- <div class="small_panel"><img src="../images/Untitled.png"></div> -->
			<!-- ! CONTENT -->
			<article class="markdown-body">{{ content }}<code><pre>document.getElementById("life").innerHTML = 3;
document.getElementById("score").innerHTML = 0;
document.addEventListener("keydown", keyPush);
var ele = document.getElementById("gamer");
pos = 20;
function keyPush(event) {
	switch (event.keyCode) {
		case 37: goLeft();
			break;
		case 39: goRight();
			break;
		case 38:
			$("#gameBoard").append("<div id=\"bullet\"></div>");
		   fire();
			break;
	}
}
function goLeft() {
	if (pos == 20)
		pos += 20;
	pos -= 20;
	ele.style.left = pos + "px";
}
function goRight() {
	if (pos == 920)
		pos -= 20;
	pos += 20;
	ele.style.left = pos + "px";
}

var bulletY = 575;
var bulletX = 0;
function fire() {
	bulletX = pos + 25;
	var bullet = document.getElementById("bullet");
	bullet.style.left = bulletX + "px";
	bulletY = 575;
	bullet.style.top = bulletY + "px";
	var move = setInterval(bulletMove, 5);
	function bulletMove() {
		bulletY-=5;
		bullet.style.top = bulletY + "px";
		if (bulletY == 0) {
			$("#bullet").remove();
			clearInterval(move);
			bulletY = 575;
		}
	}
}

var score = 0;
var life = 3;
function game() {
	$("#gameBoard").append("<div id=\"block\"></div>");
	var block = document.getElementById("block");
	var eX = Math.random()*900 + 50;
	var enemyX = eX + "px";
	block.style.left = enemyX;
	var enemyY = 0;
	var move = setInterval(enemyMove, 5);
	function enemyMove() {
		enemyY++;
		block.style.top = enemyY + "px";
		if (enemyY >= 630) {
			$("block").remove();
			clearInterval(move);
			life--;
			document.getElementById("life").innerHTML = life;
			game();
			if (life == 0) {
				window.alert("GAME OVER");
			}
		}
		if (bulletX > eX && enemyY > bulletY &&
			 bulletX < eX + 20) { // && enemyY > bulletY
			$("block").remove();
			clearInterval(move);
			score++;
			document.getElementById("score").innerHTML = score;
			game();
		}
	}
}</pre></code></article>
			<!-- ! CONTENT -->
			<!-- AddToAny BEGIN -->
			<div class="a2a_kit a2a_kit_size_32 a2a_default_style" data-a2a-icon-color="#9c8963">
				<p2>Bu yazıyı paylaşayım...</p2>
				<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
				<a class="a2a_button_facebook"></a>
				<a class="a2a_button_twitter"></a>
				<a class="a2a_button_google_gmail"></a>
				<a class="a2a_button_whatsapp"></a>
			</div>
			<script async src="https://static.addtoany.com/menu/page.js"></script>
			<!-- AddToAny END -->
		</div>
		<div class="footer">
			<div class="social_media_bar">
				<a href="https://www.instagram.com/cademirci/" target="_blank"><img src="../images/logoi.jpg"></a>
				<a href="https://twitter.com/cademirci" target="_blank"><img src="../images/logot.jpg"></a>
				<a href="https://www.facebook.com/caglayan.demirci.56" target="_blank"><img src="../images/logof.jpg"></a>
				<a href="https://open.spotify.com/user/%C3%A7a%C4%9Flayan" target="_blank"><img src="../images/logos.jpg"></a>
			</div>
			<div class="bottom_signatures">
				Proudly hosted by <b>GitHub</b>.<br>
				I have published the whole <a href="https://github.com/caglayandemirci/caglayandemirci.github.io">design and coding</a>. Çağlayan Demirci. Ankara. 2017
			</div>
		</div>
		<script>
				(function() {
					var pre = document.getElementsByTagName('pre'),
					pl = pre.length;
					for (var i = 0; i < pl; i++) {
						pre[i].innerHTML = '<span class="line-number"></span>' + pre[i].innerHTML + '<span class="cl"></span>';
						var num = pre[i].innerHTML.split(/\n/).length;
						for (var j = 0; j < num; j++) {
							var line_num = pre[i].getElementsByTagName('span')[0];
							line_num.innerHTML += '<span>' + (j + 1) + '</span><br>';
						}
					}
				})();
		</script>
	</body>
</html>