<html>
	<head>
		<meta charset="UTF-8">
		<meta content='width=device-width, initial-scale=1' name='viewport'/>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="../css_files/style.css">
		<link rel="icon" href="../images/siteicon2.2.png">
		<style>
			body {
				font-size: 1em;
			}
		</style>
	</head>
	<body>
		<div class="header">
			<div class="nav_bar">
				<a href="../index"><img src="../images/iconhp.png"></a>
				<a href="../monthly-notes/01-18"><img src="../images/iconnp.png"></a>
				<a href="../about"><img src="../images/iconac.png"></a>
				<a href="../contact"><img src="../images/iconct.png"></a>
			</div>
		</div>
		<div class="markdown_zone">
			<!-- ! -->
			<article class="markdown-body">{{ content }}</article>
			<!-- ! -->
		</div>
		<div class="footer">
			<a href="https://www.instagram.com/cademirci/" target="_blank"><img src="../images/logoi.jpg"></a>
			<a href="https://twitter.com/cademirci" target="_blank"><img src="../images/logot.jpg"></a>
			<a href="https://www.facebook.com/caglayan.demirci.56" target="_blank"><img src="../images/logof.jpg"></a>
			<a href="https://open.spotify.com/user/%C3%A7a%C4%9Flayan" target="_blank"><img src="../images/logos.jpg"></a>
			<br><br><br>
			Proudly hosted by <b>GitHub</b>.<br>
			I have published the whole <a href="https://github.com/caglayandemirci/caglayandemirci.github.io">design and coding</a>. Çağlayan Demirci. Ankara. 2017<br><br>
		</div>
	</body>
</html>