{% include head.html %}
<body>
    <div class="content_container">
        {% if page.name == "main.md" %}
          <a href="{{ site.url }}">&larr; back to the <b>regular site</b></a>
        {% else %}
          <a href="{{ site.url }}/simplespace">&larr; back to the <b>simplespace main page</b></a>
        {% endif %}
          <button type="button" id="lightButton">knowledge is light?</button>

          {% if page.name == "main.md" %}
            {% for page in simplespace.pages %}
              {{ asd }}
            {% endfor %}
          {% endif %}
        {{ content }}
    </div>
</body>
