<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta content='width=device-width, initial-scale=1' name='viewport'/>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="../css_files/subpage_style_light.css">
		<link rel="stylesheet" type="text/css" href="../css_files/tomorrow-night.css">
		<link rel="icon" href="../images/hexagon.png">
	</head>
	<body>
		<div class="markdown_zone">
			<!-- ! -->
			<article class="markdown-body">
				<a href="http://caglayandemirci.com/">&larr; Main Page</a><br><br>
				{{ content }}
			</article>
			<!-- ! -->
		</div>
	</body>
</html>