{% include head.html %}
<body>
    {% include panel.html %}
    <div class="content_container" id="testField">
        {{ content }}
        {% for post in site.posts %}
            
        {% endfor %}
    </div>
    {% include footer.html %}
    <script>
        var str = "";
        {% for post in site.posts %}
            str += '{{ post.title }} \n';
        {% endfor %}

        const data = {
            "posts": [
            {% for post in site.posts %}
                {
                    "title": "{{ post.title }}",
                    "url": "{{ post.url }}"
                }{% unless forloop.last %}, {% endunless %}
            {% endfor %}
            ]
        } 

        document.querySelector('#testField').innerHTML = data["posts"][0]["title"];
        
    </script>
</body>
