{% include head.html %}
<body>
    <div class="reading_area">
        <div class="content_container">
            <p><i>WORKING SPACE / MY MACHINE<i></p>
            {{ content }}
            <span id="cons1"></span> 
            <span id="cons2"></span> 
            <img src="https://raw.githubusercontent.com/cademirci/been-and-mark/master/screenshots/map.png">
            <br><br>
            <img src="https://raw.githubusercontent.com/cademirci/been-and-mark/master/webapp_djangoleaflet/media/place_pictures/iconbl.png">
        </div>
    </div>
</body>
